<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="#">
        <title>Editar Empleados</title>
    </head>
    <body>
        <h1>Editar empleado</h1>
        <form action="#">
            <div>
                <input type="text" name="nombre" placeholder="Nombre completo" required>
                <input type="text" name="cedula" placeholder="Cedula" required>
                <input type="email" name="correo" placeholder="Correo" required>
                <input type="number" name="telefono" placeholder="Telefono" required>
                <input type="text" name="direccion" placeholder="Direccion"required>
                <input type="number" name="salario" placeholder="Salario" required>
                <input type="text" name="horario" placeholder="Horario" required>
            </div>
        </form>
        <button type="submit">Guardar cambios</button>
        <a href="{{url_for('empleados')}}"><button>Cancelar</button></a>
    </body>
</html>