<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='estilos.css')}}">
        <title>Gestion de empleados</title>
    </head>
    <body class="emple">
        <section class="panel">
            <h2>Lista de empleados</h2>
            <a href="{{url_for('agregar_empleado')}}"><button class="agregaremple">Agregar empleado</button></a>
            <table>
                <thead>
                    <tr>
                        <th>Nombre completo</th>
                        <th>Cedula</th>
                        <th>Correo</th>
                        <th>Telefono</th>
                        <th>Direccion</th>
                        <th>Salario</th>
                        <th>Horario</th>
                        <th>Fecha de ingreso</th>
                    </tr>
                </thead>
                <tbody>
                    {% for dato in empleados %}
                    <tr>
                        <td>{{dato.nombre}}</td>
                        <td>{{dato.cedula}}</td>
                        <td>{{dato.correo}}</td>
                        <td>{{dato.telefono}}</td>
                        <td>{{dato.direccion}}</td>
                        <td>{{dato.salario}}</td>
                        <td>{{dato.horario}}</td>
                        <td>{{dato.fechaingreso}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <a href="{{url_for('editar_empleado')}}"><button>Editar</button></a>
                <a href="#"></a><button>Eliminar</button>
            </table>
        </section>
        <a href="{{url_for('administracion')}}"><button>Volver</button></a>
    </body>
</html>