<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='estilos.css')}}">
        <title>Gestion de empleados</title>
    </head>
    <body class="emple">
        <section class="panel">
            <h2>Lista de empleados</h2>
            <a href="{{url_for('agregar_empleado')}}"><button class="agregaremple">Agregar empleado</button></a>
            <table>
                <thead>
                    <tr>
                        <th>Nombre completo</th>
                        <th>Cedula</th>
                        <th>Correo</th>
                        <th>Telefono</th>
                        <th>Direccion</th>
                        <th>Cargo</th>
                        <th>Salario</th>
                        <th>Horario</th>
                        <th>Fecha de ingreso</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Juan</td>
                        <td>Cortador</td>
                        <td>Activo</td>
                    </tr>
                    <button>Editar</button>
                    <button>Eliminar</button>
                </tbody>
            </table>
        </section>
    </body>
</html>