<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='estilos.css')}}">
        <title>Empleados</title>
    </head>
    <body class="emple">
        <section class="panel">
            <h2>Gestion de empleados</h2>
            <button class="agregaremple">Agregar empleado</button>
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Puesto</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Juan</td>
                        <td>Cortador</td>
                        <td>Activo</td>
                        <td>
                            <button>Editar</button>
                            <button>Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </body>
</html>