<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
    <title>Inicio de Sesión</title>
    <body>
        <div class="titulo">
            <h1>Inicio de sesión</h1>
        </div>
        <div class="contenedor_form">
            <div class="logo">
                <img src="{{url_for('static', filename='imgs/logoInkar.jpg')}}">
            </div>
            <div class="titulito">
                Inkar Jeans<br>
                <span>Automatización Empresarial</span>
            </div>
            <form method="POST" action="{{url_for('administracion')}}">
                <input type="text" name="usuario" placeholder="Usuario" required>
                <input type="password" name="password" placeholder="Contraseña" required>
                <button type="submit">Iniciar sesión</button>
            </form>
            {% if error %}
                <p id="error">{{error}}</p>
            {% endif %}
            <p id="textito">¿No tienes una cuenta? <a href="{{url_for('registro')}}">Registrate</a></p>
            <p id="textito">¿Se te olvidó la contraseña? <a href="{{url_for('restablecer_contra')}}">Restablecer contraseña</a></p>
        </div>
    </body>
</html>