<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
        <title>Inkar Jeans - Sistema Administrativo</title>
        <script>
            window.onload = function(){
                const enlaces = document.querySelectorAll('nav .enlaces a');
                enlaces.forEach(function (link){
                    if(link.textContent.trim() !== "Iniciar sesión"){
                        link.addEventListener('click', function (e) {
                            e.preventDefault();
                            alert("Inicie sesión para acceder al panel administrativo.")
                        });
                    }
                });
            }
        </script>
    </head>
    <body>
        <nav>
            <div class="enlaces">
                <div class="logo">
                    <div class="rayitas">&#9776;</div>
                    <img src="{{url_for('static', filename='imgs/logoInkar.jpg')}}" alt="Logo Inkar">
                    <div>
                        INKAR JEANS<br>
                        <span>SISTEMA ADMINISTRATIVO</span>
                    </div>
                    <div class="links">
                        <a href="#">Inicio</a>
                        <a href="#">Empleado</a>
                        <a href="#">Horas trabajadas</a>
                        <a href="#">Nómina</a>
                        <a href="#">Inventario</a>
                    </div>
                </div>
                <a href="{{url_for('inicio_sesion')}}" class="botonsesion">Iniciar sesión</a>
            </div>
        </nav>
        <div class="bienvenido">
            <h1>Bienvenido Administrador</h1>
            <p>Este es el panel principal del sistema administrativo de Inkar Jeans</p>
        </div>
        <div class="cont_card">
            <div class="card">
                <span></span>
                <button>Empleados</button>
            </div>
            <div class="card">
                <span></span>
                <button>Horas trabajadas</button>
            </div>
            <div class="card">
                <span></span>
                <button>Productos</button>
            </div>
            <div class="card">
                <span></span>
                <button>Nómina</button>
            </div>
            <div class="card">
                <span></span>
                <button>Historial de pagos</button>
            </div>
            <div class="card">
                <span></span>
                <button>Proveedores</button>
            </div>
        </div>
    </body>
</html>