<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
        <title>Registro de usuario</title>
    </head>
    <body>
        <h1 id="registitu">Crear cuenta</h1>
        <div class="contenedor_form">
            <div id="textito">
                <h1>Inkar Jeans</h1>
                <p>Automatización Empresarial</p>
            </div>
            <form method="POST" action="{{url_for('registro')}}">
                <input type="text" name="nombre" placeholder="Nombre completo" required>
                <input type="email" name="email" placeholder="Correo electronico" required>
                <input type="text" name="usuario" placeholder="Usuario" required>
                <input type="text" name="password" placeholder="Contraseña" required>
                <button type="submit">Registrar</button>
            </form>
            <p id="textito">¿Ya tienes una cuenta? <a href="{{url_for('index')}}">Iniciar Sesion</a></p>
        </div>
    </body>
</html>