<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='estilos.css')}}">
        <title>Restablecer contraseña</title>
        <script>
            const mensaje = document.getElementsByName('nuevo');
        </script>
    </head>
    <body>
        <h1 id="contratitu">Restablecer Contraseña</h1>
        <div class="contenedor_form">
            <h2 id="textito">Inkar Jeans</h2>
            <span id="span">Ingrese la contraseña nueva y asegurate de guardarlo o anotarlo para que no se te olvide🤗</span id="span">
            <form>
            <input type="text" name="icon" placeholder="Contraseña nueva" required><br></br>
            <button type="submit">Aceptar</button>
            </form>
            <a href="{{url_for('index')}}"><button>Volver</button></a>
        </div>
    </body>
</html>