.FondoHorasTrabajadas {
    background-color: skyblue;
    background-image: none;
  }

.Titulo {
    color: white;
    font-size: 30px;
  }

.titu{
    color: snow;
    position: relative;
    font-size: 30px;
    left: 10px;
    top: 1px
}

.BotonVolver {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 69, 173);
    padding: 15px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
  }


.TituloFormulario1 {
  text-align: center;
  color: #002366;
  font-size: 24px;
  margin-bottom: 20px;
}

.FormularioVertical {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 450px;
  margin: 0 auto;
}

  .ContenedorBlanco{
    background-color: #ffffff;
    padding: 20px;
    width: auto;
  }

.FormularioVertical label {
  font-weight: bold;
}

.FormularioVertical select,
.FormularioVertical input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.BotonCalcularNomina1 {
    position: static !important;
    background-color: #00cfff;
    color: white;
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1px;
    align-self: center;
    width: 100%;
    max-width: 80%;
}

.BotonCalcularNomina1:hover {
  background-color: #009ec6;
}

.resultado {
  max-width: 600px;
  margin: 30px auto;
  background-color: #220dc0;
  border-left: 5px solid #0077b6;
  padding: 20px;
  border-radius: 10px;
}

.resultado h3 {
  margin-top: 0;
  color: #e61515;
}