body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: skyblue;
  color: #000;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

h1 {
  color: white;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}

form#formReportes {
  background-color: #0051a2;
  padding: 25px;
  border-radius: 12px;
  max-width: 300px;
  color: white;
  box-sizing: border-box;
  margin: 0 auto 30px auto;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-icon {
  position: relative;
  width: 100%;
}

.input-icon i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 1.2em;
  pointer-events: none;
}

.input-icon input {
  padding-left: 35px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  height: 2.5em;
  color: #000;
}

form#formReportes input[type="text"] {
  background: none;
}

form#formReportes button[type="submit"] {
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 8px;
  font-weight: bold;
  padding: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form#formReportes button[type="submit"]:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  background-color: white;
}

table thead {
  background-color: #0051a2;
  color: white;
}

th, td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: #67a9f4;
  color: #fff;
}

tbody tr:nth-child(odd) {
  background-color: #e8f0fe;
  color: #000;
}

button.eliminar {
  background-color: crimson;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  padding: 12px 25px;
  font-weight: bold;
  border: none;
  width: 150px;
  transition: background-color 0.3s ease;
}

button.eliminar:hover {
  background-color: #b02a37;
}

tbody td[colspan="3"] {
  font-style: italic;
  color: #555;
}
